[submodule "Dayone/lib/forge-std"]
	path = Dayone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day3/lib/forge-std"]
	path = Day3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Day4/lib/forge-std"]
	path = Day4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
